// Basic colors
$green:     rgb(115, 185, 155);
$black:     rgb(0, 0, 0);
$grey:      rgb(209, 209, 209);
$white:     rgb(255, 255, 255);

// Feedback colors
$feedbackGood:  rgb(40, 167, 69);
$feedbackBad:  rgb(220, 53, 69);

// Primairy font
$font: 'Open Sans', sans-serif;